<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
      arguments=".\CoreWeb.Consumer.Web.exe"
      stdoutLogEnabled="false"
      stdoutLogFile=".\logs\stdout"
      hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Test" />
        </environmentVariables>
      </aspNetCore>
      <applicationInitialization
        remapManagedRequestsTo="Privacy"
        skipManagedModules="true" >
        <add initializationPage="/Privacy" />
      </applicationInitialization>
    </system.webServer>
  </location>
</configuration>